.custom-fade-in-opacity {
  opacity: 1;
  animation-name: customFadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: .8s;
}

@keyframes customFadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
